@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Nunito&family=Outfit:wght@200&display=swap');

.aboutDiv{
    text-align: center;
    width: 100%;
    padding-top: 2rem;
}
.aboutParagraph{
    color: aliceblue;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

li{
    list-style: none;
}

#nauticalChart{
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 12%;
    margin-top: 2rem;
}

.personalPics{
    padding: .5rem;
    width: 20rem;
    border-radius: 12%;
}
.swiper {
    width: 600px;
    height: 600px;
    width: 50%;
    display:block;
  }

  .swiperImage{
    height: 50%;
    width: 50%;
}

.swiper-slide{
    width: auto;
    height: auto;
}
a{
    color: rgb(128, 195, 255);
}