a {
    text-decoration: none;
}

a:hover{
    color:  #BF0603;
    outline-color: solid black;
    font-weight:300;
}

button{
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    background-color: #BF0603;
    font-size: 22px;
    margin: .5rem;
    border-radius: 10px;

}

button:hover{
cursor: pointer;
color:#BF0603;
background-color: aliceblue;
}

div{
    color: aliceblue;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;  
    display:flexbox;
    text-align: center; 
}

.videoDiv{
    padding: 1rem;
    text-align: center;
}

.iframe{
    padding: 1rem;
}

.extermalLink{
    text-decoration-line: underline;
    text-align: center;
    color: aliceblue;
}

.extermalLink:hover{
    color: #BF0603
}


h1{
    color: gold;
    text-align: center;
    font-family: 'Aboreto', cursive;
    font-size: 30px;
}

html{
    background-color:
     /* #001B2E */
     /* #2081C3 */
     #2E4057
}

.icon{
    color: aliceblue;
    
}
.icon:hover{
    color: #BF0603;
}

#iconDiv{
    display: grid;
    color: aliceblue;
    position: fixed;
    margin-top: 15rem;
    margin-left: 1rem;
    font-size: 3rem;
}

input{
    border-radius: 5px;
    width: 15rem
}

label{
    color: aliceblue;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    text-align: center;    
}

.navLink{
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    color: aliceblue;
}
p{
    color: aliceblue;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

select{
  border-radius: 5px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 22px
  };

textarea{
    resize: none;
}
