.heading{
    font-family: 'Aboreto', cursive;
    font-size: 44px;
    margin: auto;
    color: gold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;

}

.navLink{
    padding-left: .25rem;
    padding-right: .25rem;
    margin: 1rem;
    position: relative;
}

.navbardiv{
    border-radius: 10px;
    border-bottom: groove .35rem rgb(212, 7, 7);
    border-top: groove .35rem rgb(212, 7, 7);
    padding: .5rem;
    
}






