.resumeContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    margin: 20px; /* Adjust as needed */
  }
  
  .downloadButtonContainer {
    margin-bottom: 20px; /* Space between button and iframe */
  }
  
  button {
    padding: 10px 20px; /* Adjust button size */
    font-size: 16px; /* Adjust font size */
  }
  
  #resume_div{
    text-align: left;
  }

  .resumeLI{
    list-style-type: disc;
  }

  #professional_summary{
text-align: left;
  }


 